@page


<h2>NotFound</h2> 
<div>
    <a asp-page="../Restaurants/List"> 
        Not FOund FFF 
       <span>
           <i class="glyphicon glyphicon-play">
               
           </i>
       </span>  
    </a>
</div>
